/* Basic RTL overrides for Persian pages */
body.rtl-body {
    direction: rtl;
    text-align: right;
    font-family: "Pinar", "Tahoma", "Arial", sans-serif;
}

.rtl-body .navbar-nav .dropdown-menu,
.rtl-body .navbar-nav .nav-link,
.rtl-body .section-title {
    text-align: center;
}

.rtl-body .breadcrumb,
.rtl-body .carousel-caption,
.rtl-body .hero-content {
    direction: rtl;
    text-align: right;
}

.rtl-body .navbar .navbar-toggler {
    left: 0;
    right: auto;
}
.header .caption p {
 
    padding-left: 0px;
    padding-right: 70px;
    font-size: 17px;
}

.header .caption p:after {
  
    left: unset;
    right: 0;
   
   
}

[data-overlay-dark] .button-1 span, .button-1 span {
   
    margin-left: 0px;
    margin-right: 5px;
    
}
.slider-fade .owl-theme .owl-nav, .slider .owl-theme .owl-nav{
    transform: translateX(12%);
}

.portfolio .item .con .icon{
   
    left: -6px;
    right: unset;
    transform: rotate(90deg);
}
.portfolio .item .con .icon .arrow {
   
    transform: rotate(180deg);
}

.portfolio .item .con .title {
    padding: 90px 20px 20px 20px;
  
}

.bottom-fade{
        border-radius: 20px;
}

[data-overlay-dark] .button-4 span, .button-4 span {
    margin-left: 0px;
    margin-right: 5px;
}

.team__text{
    font-size: 14px;
    font-weight: normal;
    text-align: justify;
}

.blog .item .icon{
       left: -6px;
    right: unset;
    transform: rotate(90deg);
}

.blog .item .icon .arrow {
   
    transform: rotate(180deg);
}

.blog .item .title {
    
    padding:25px 25px 25px 100px;;
    
}

.blog .item {
   
    border-radius: 20px ;
 
}

.blog .item .title h4 {
  
    font-size: 18px;
    font-weight: 700;
    line-height: 37px;
}
.lets-talk .section-title{
    font-size: 33px;
    line-height: 60px;
}
.dir-ltr{
    direction: ltr;
}