$pinar-font-path: "../fonts/Pinar" !default;

@font-face {
  font-family: "Pinar";
  src: url("#{$pinar-font-path}/Pinar-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pinar";
  src: url("#{$pinar-font-path}/Pinar-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pinar";
  src: url("#{$pinar-font-path}/Pinar-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pinar";
  src: url("#{$pinar-font-path}/Pinar-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pinar";
  src: url("#{$pinar-font-path}/Pinar-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pinar";
  src: url("#{$pinar-font-path}/Pinar-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pinar";
  src: url("#{$pinar-font-path}/Pinar-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
